<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerMonitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="">
    <header class="mx-auto flex flex-col justify-center items-center text-secondary bg-primary text-5xl p-8">
        <h1>PowerMonitor</h1>
        <span class="bg-secondary border-secondary w-full max-h-[2px] my-2">
        <nav class="container mx-auto w-full flex justify-center md:justify-end items-center gap-4 pt-1 text-xl">
            <a class="text-accent-light" href="/">Home</a>
            <a class="hover:text-accent-light" href="/hourly_reports">Hourly-Reports</a>
        </nav>
    </header>
    <main class="min-h-[calc(100vh-186px)]">
        <section id="home" class="container mx-auto p-1">
            <form action="/" method="post" class="flex flex-col items-center justify-center md:flex-row space-y-4 md:space-x-4 md:space-y-0 p-4 bg-gray-100 rounded-lg shadow-md">
                <label for="timestamp_start">Start Time:</label>
                <input 
                    type="datetime-local" 
                    name="timestamp_start" 
                    id="timestamp_start" 
                    placeholder="Start Time"
                    value="{{times['start']}}"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:outline-none"
                >
                <label for="timestamp_start">End Time:</label>
                <input 
                    type="datetime-local" 
                    name="timestamp_end" 
                    id="timestamp_end" 
                    placeholder="End Time" 
                    value="{{times['end']}}"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400 focus:outline-none"
                >
                <input 
                    type="submit" 
                    value="Update Graph" 
                    class="w-full px-4 py-2 text-white bg-primary rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-400 focus:outline-none cursor-pointer"
                >
            </form>
            {% if isEmpty %}
                <p class='text-center text-red-500 p-8'>No data available for the selected time range.</p>
            {% else %}
                {{ chart.power|safe }}
                {{ chart.voltage|safe }}
                {{ chart.current|safe }}
                {{ chart.power_factor|safe }}
            {% endif %}
        </section>
    </main>
    <footer class="mx-auto flex justify-center align-center p-4 w-full text-secondary bg-primary">
        <p>&copy; 2024 PowerMonitor</p>
    </footer>
</body>
</html>
